@import "bourbon";
@import "../../mixins-media.scss";
@import "../../vars.scss";


.menu {
	width: 100%;
	background-color: $main-color-opacity;
}

.menu__wrap {
	display: flex;
	align-items: center;
	padding: 0 15px;
	margin: 0 auto;
}

.menu__wrap-logo-btn {
	box-sizing: border-box;
}

.menu__nav-list {
	display: flex;
	
	@include font-OpenSansRegular;
	list-style: none;
	
	margin: 0;
	padding: 0;
	z-index: 3;
}


.menu__nav-item a {
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	color: #fff;

	display: block;
	text-align: center;

	z-index: 3;
}

.menu__nav-item a[href]:hover {
	color: $pink-color;
}

.menu__nav-item a[href]:active {
	color: $pink-down-color;
}

.menu__toggle {
	display: none;
}

@include media("screen", ">=tablet-wide") {

	.menu__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
		margin: 0 auto;
		width: 100%;
		max-width: 1170px;
	}

	.menu__nav {
		display: flex;
		width: 80%;
		justify-content: flex-end;
	}

	.menu__nav-list {
		justify-content: space-around;
		width: 80%;
		height: 112px;
		flex-wrap: wrap;
	}

	.menu__nav-item {
		align-self: center;
		height: 25px;

		&--active a {
			&:hover {
			border-bottom: 2px solid $white-color;
			color: $white-color;
			}
		}
	}

	.menu__nav-item a {
		padding-bottom: 10px;
		
		&[href]:hover {
			border-bottom: 2px solid $pink-color;
			color: $pink-color;
		}

		&:active,
		&[href]:active {
			color: $white-down-color;
			border: none;
		}
	}
}


@include media("screen", "<tablet-wide") {
	.menu {
		background-color: $menu-color;
	}

	.menu__wrap {
		width: 100%;
	}

	.menu__nav-list {
		flex-direction: column;
		@include font-OpenSansBold;
		height: 102px;
	}

	.menu__nav-item {
		background-color: $menu-color;
	}

	.menu__nav-item a {
		display: block;
		text-transform: uppercase;

		padding: 20px 21px;
		text-align: center;

		border-top: 1px solid #475360;
		border-bottom: 1px solid #030303;

		z-index: 3;
	}

	.menu__toggle {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		display: block;

		background-color: $menu-color;
		border: none;
		cursor: pointer;

		&:active,
		&:focus {
			outline: none;
		}
	}

	.menu--closed {
		z-index: 3;
		background-color: $main-color-opacity;

		.menu__wrap-logo-btn {
			border-bottom: none;
		}

		.menu__nav {
			display: none;
		}

		.menu__toggle {
			background-color: rgba(40, 54, 69, 0);;
		}
	}

	.menu--opened {

		.menu__toggle {
			z-index: 10;
			box-sizing: border-box;

			&:hover::before,
			&:hover::after {
				background-color: $pink-color;
			}

			&::before, 
			&::after {
				content: '';
				position: absolute;

				background-color: #FFF;
			}
			
			&::before {
				transform: rotate(45deg);
				box-shadow: none;
			}

			&::after {
				transform: rotate(-45deg);
			}

			&:active::before,
			&:active::after {
				background-color: $pink-down-color;
			}
		}

		.menu__nav {
			position: absolute;
			left: 0;
			width: 100%;
		}

		.menu__nav-item {
			z-index: 20;
			width: 100%;
		}
	}

	.menu--closed .menu__toggle {

		&::before {
			content: '';
			position: absolute;
			background-color: #fff;
			box-shadow: 0 8px 0 0 #fff, 0 16px 0 0 #fff;

			&:hover::before,
			&:hover::after {
				background-color: $pink-color;
			}

			&:hover::before,
			&:hover::after {
				background-color: $pink-color;
				box-shadow: 0 8px 0 0 $pink-color, 0 16px 0 0  $pink-color;	
			}

			&:active::before{
				background-color: $pink-down-color;
				box-shadow: 0 8px 0 0 $pink-down-color, 0 16px 0 0  $pink-down-color;		
			}		
		}

		&:hover::before,
		&:hover::after {
			background-color: $pink-color;
		}

		&:hover::before,
		&:hover::after {
			background-color: $pink-color;
			box-shadow: 0 8px 0 0 $pink-color, 0 16px 0 0  $pink-color;	
		}

		&:active::before{
			background-color: $pink-down-color;
			box-shadow: 0 8px 0 0 $pink-down-color, 0 16px 0 0  $pink-down-color;		
		}
	}

	.menu--nojs {
		.menu__wrap {
			background: $menu-color;
			border-bottom: 1px solid #030303;
		}

		.menu__toggle {
			display: none;
		}

		.menu__nav {
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
		}

		.menu__nav-item {
			z-index: 20;
		}
	}
}

@include media("screen", "<tablet-larger-small") {
	.menu--nojs {
		.menu__nav {
			top: 70px;
			flex-direction: column
		}
	}	
}

@include media("screen", ">=tablet-larger-small", "<tablet-wide") {
	.menu--nojs {			
		.menu__nav {
			top: 110px;	
		}
	}

	.menu__wrap {
		box-sizing: border-box;
		height: 110px;
	}

	.menu__nav {
		top: 110px;
	}

	.menu--opened .menu__wrap {
		border-bottom: 1px solid #030303;
	}

	.menu__toggle {
		border: none;
		border-bottom: 1px solid #030303;
		height: 109px;
		width: 110px;

		&::before, 
		&::after {
			top: 52px;
			height: 3px;
			left: initial;
			right: 40px;
		}
	}

	.menu--closed .menu__toggle {

		&::before {
			top: 44px;
			left: initial;
			right: 25px;
			width: 50px;
		}
	}

	.menu--opened {
		
		.menu__toggle {
			&::before,
			&::after {
				top: 51px;
				left: initial;
				right: 20px;
				width: 50px;
				height: 4px;
			}
		}
	}
}

@include media("screen", "<tablet-larger-small") {
	.menu__wrap {
		box-sizing: border-box;
		height: 70px;
	}

	.menu--opened .menu__wrap {
		border-bottom: 1px solid #030303;
	}

	.menu__toggle {
		width: 80px;
		height: 70px;
	}

	.menu--closed .menu__toggle {
		&::before {
			top: 22px;
			left: 20px;
			width: 38px;
			height: 2.5px;
		}
	}

	.menu--opened {

		.menu__nav {
			top: 70px;
		}

		.menu__toggle {
			border-bottom: 1px solid #000;

			&::before,
			&::after {
				top: 31px;
				left: 30px;
				width: 33px;
				height: 4px;
			}
		}
	}
}