.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/sprite.svg");
    background-repeat: no-repeat;
    background-size: 50em 96.7em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.android-logo:before {
      background-position: 0em 0em;
      width: 50em;
      height: 50em;
  }




  .icon.apple-logo:before {
      background-position: 0em -50em;
      width: 17em;
      height: 17em;
  }




  .icon.microsoft-logo:before {
      background-position: 0em -67em;
      width: 21em;
      height: 29.7em;
  }





