// Global

$color-main--light:                           #495562;
$color-main:                                  #283645;
$color-main--dark:                            #1d2631;

$color-secondary:                             #d22856;
$color-secondary--dark:                       #562b44;

$color-white:                                 #fff;
$color-white--dark:                           #f2f2f2;
$color-white--darker:                         #e6e6e6;

$color-black:                                 #030303;

$color-success:                               #3dc644;
$color-success--dark:                         #2aab6d;
$color-success--darken:                       #159c5e;

$color-error:                                 #f25b26;

// Typography color

$text-color-main:                             $color-main;
$text-color-secondary:                        $color-secondary;
$text-color-white:                            $color-white;
$text-color-black:                            $color-black;

// Slider

$dot-border:                                  $color-white;
$dot-active-border:                           #283645;
$dot-background:                              #BEC2C8;
$dot-active-background:                       $color-white;