@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.btn-submit {
  width: 100%;
  max-width: 300px;
  height: 65px;
  background-color: $color-success--dark;
  border-radius: 3px;
  border: none;
  
  @include media ("screen", ">=desktop") {
    &:hover {
      background-color: $color-success--darken;
    }
    
  }

  &:disabled {
    background-color: $color-white--darker;
    outline: none;

    &:hover {
      background-color: $color-white--darker;
    }

    &:active {
      outline: none;
    }

  }

}

.btn-submit__text {
  text-transform: uppercase;
  @include font-OpenSansBold ($size: 18px, $colour: $text-color-white, $lh: 30px);
  transition: opacity 0.3s;

  .btn-submit:active & {
    opacity: 0.3;
  }

  .btn-submit--disabled:active & {
    opacity: 1;
  }

}