@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.btn-download {
  @include font-OpenSansBold($colour: $text-color-white, $size: 18px);
  text-decoration: none;

  border-radius: 40px;
  border: 3px solid #fff;
  padding: 15px 40px;
  
  @include media ("screen", ">=tablet-wide") {
    &:hover {
      background-color: $color-white;
      color: $text-color-secondary;
    }

    &:active {
      background-color: $color-white;
      color: rgba($text-color-secondary, 0.3);
    }
    
  }

  &:active {
    background-color: $color-white;
    color: rgba($text-color-secondary, 0.3);
  }

  @include media("screen", ">=tablet-larger-small") {
    background: none;
  }
  
}