@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media ("screen", ">=tablet", "<desktop") {
    padding-top: 55px;
  }

  @include media ("screen", ">=desktop") {
    padding-top: 75px;
  }
  
}

.contacts__slogan {
  margin-bottom: 45px;
}

.contacts__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  width: 100%;

  @include media ("screen", ">=tablet") {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 950px;
  }

  @include media ("screen", ">=desktop") {
    justify-content: space-between;
  }


}

.contacts__item {
  text-align: center;
  margin-bottom: 30px;

  @include media ("screen", ">=tablet", "<desktop") {
    &:last-child {
      width: 100%;
    }

  }

  @include media ("screen", ">=desktop") {
    &:nth-child(2) {
      order: 1;
    }

  }

}

.contacts__title {
  @include font-OpenSansBold ($size: 18px, $colour: $text-color-main);
  margin-bottom: 7px;
}

.contacts__value {
  @include font-OpenSansLight ($size: 24px, $colour: $text-color-secondary);
  
  @include media ("screen", ">=desktop") {
    &:hover {
      color: $text-color-black; 
    }
    
    &:active {
      color: rgba($text-color-black, 0.3);
    }

  }

  &:active {
    color: rgba($text-color-black, 0.3);
  }

}

.contacts__map {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: $color-white;
  
  @include media ("screen", "<tablet") {
    height: 250px;
  }

  @include media ("screen", ">=tablet", "<desktop") {
    height: 420px;
  }

  @include media ("screen", ">=desktop") {
    height: 550px;
  }


  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -1px;
    border-top: 32px solid $color-white;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;

    @include media ("screen", ">=tablet") {
      border-top: 75px solid $color-white;
    }

  }

}