@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.descr-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descr-app__slogan {

  @include media("screen", "<phone-wide"){
    margin-top: 45px;
  }

  @include media("screen", ">=phone-wide", "<tablet-wide")  {
    margin-top: 60px;
    width: 100%;
  }

  @include media("screen", ">=tablet-wide") {
    margin-top: 75px;
  }

}

.descr-app__wrap-phone-text {
  display: flex;

  @include media ("screen", "<tablet-larger-small") {
    flex-direction: column;
    align-items: center;  
    margin-top: 100px;
  }

  @include media ("screen", ">=tablet-larger-small", "<tablet-wide") {
    margin-top: 20px;
  }

  @include media ("screen", ">=tablet-wide") {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

}

.descr-app__phones {
  display: flex;
  justify-content: space-around;

  margin-top: 40px;

  width: 80%;
  max-width: 1200px;

  @include media("screen", "<tablet-larger-small") {
    order: 2;
  }

  @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
    width: 310px;
    height: 500px;
    margin-left: 30px;
  }

  @include media ("screen", ">=tablet-wide") {
    margin-top: 75px;
    width: 100%;
  }

}

.descr-app__text {
  display: flex;
  flex-direction: column;
  width: 83%;
  align-items: center;

  @include media("screen", "<tablet-larger-small") {
    max-width: 340px;
  }
  
  @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
    margin-top: 100px;
    margin-left: 40px;
    align-items: flex-start;
  }

  @include media ("screen", ">=tablet-wide") {
    margin-top: 60px;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
    flex-direction: row;
  }

}