@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @include media("screen", "<tablet-larger-small") {
    background-color: $background-main-color;
    height: 285px;
    
  }

  @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
    margin-right: 300px;
    margin-bottom: 120px;  
  }

  @include media("screen", ">=tablet-wide") {
    margin-right: 600px;
    margin-bottom: 100px;
    height: 500px;
  }

}

.download__btn {
  margin-top: 28px;
}