@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.form-full-name {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  
  @include media ("screen", ">=desktop") {
    width: 440px;
    order: -2;
  }

}

.form-full-name__group {
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  @include media ("screen", ">=tablet") {
    flex-direction: row;
    align-items: center;
  }

  @include media ("screen", ">=desktop") {
    max-width: 440px;
  }

}

.form-full-name__label {
  @include font-OpenSansRegular($size: 14px, $colour: $text-color-secondary, $lh: 30px);
  text-transform: uppercase;
  padding: 0 0 0 25px;

  @include media ("screen", ">=tablet") {
    padding: 15px 25px 15px 0;
  }

}