@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.form-textarea {
  padding: 0 25px;
  width: 100%;
  border: none;

  @include media ("screen", ">=tablet") {
    padding: 0 40px;
  }

  @include media ("screen", ">=tablet") {
    max-width: 940px;
    padding: 0 60px;
    border: 2px solid $color-white--darker;
  }

}

.form-textarea__area {
  height: 200px;
  width: 100%;
  resize: none;
  padding: 20px;
  @include font-OpenSansRegular($size: 18px, $lh: 30px, $colour: $text-color-main)
  border: 2px solid $color-white--darker;

  @include media ("screen", ">=tablet") {
    margin-bottom: 50px;
  }

  &:focus {
    border-color: $color-secondary;
    outline: none;
  }

  @include media ("screen", ">=desktop") {
    &:hover {
      border-color: $color-main;
    }

    &:focus {
      border-color: $color-secondary;
      outline: none;
    }

  }

  &::-webkit-input-placeholder {
    @include font-OpenSansRegular($size: 18px, $lh: 30px, $colour: $text-color-main)
  }

  &::-moz-placeholder {
    @include font-OpenSansRegular($size: 18px, $lh: 30px, $colour: $text-color-main)
  }

  &:-moz-placeholder {
    @include font-OpenSansRegular($size: 18px, $lh: 30px, $colour: $text-color-main)
  }

  &:-ms-input-placeholder {
    @include font-OpenSansRegular($size: 18px, $lh: 30px, $colour: $text-color-main)
  }

  &:focus::-webkit-input-placeholder {color: transparent}
  &:focus::-moz-placeholder          {color: transparent}
  &:focus:-moz-placeholder           {color: transparent}
  &:focus:-ms-input-placeholder      {color: transparent}
}

.form-textarea__legend {
  margin-bottom: 40px;
}