@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.form-input-text {
  @include font-OpenSansRegular($size: 18px, $colour: $text-color-main)
  width: 100%;
  height: 60px;
  padding: 12px 10px;
  border: 2px solid $color-white--darker;

  

  @include media ("screen", ">=tablet-wide") {
    &:hover {
      border-color: $color-main;
    }
    
    &:focus {
      border-color: $color-secondary;
    }

  }

  &:focus {
    border-color: $color-secondary;
  }

  &::-webkit-input-placeholder {
    @include font-OpenSansRegular($size: 18px, $lh: 30px, $colour: $text-color-main);
  }

  &::-moz-placeholder {
    @include font-OpenSansRegular($size: 18px, $lh: 30px, $colour: $text-color-main);
  }

  &:-moz-placeholder {
    @include font-OpenSansRegular($size: 18px, $lh: 30px, $colour: $text-color-main);
  }

  &:-ms-input-placeholder {
    @include font-OpenSansRegular($size: 18px, $lh: 30px, $colour: $text-color-main);
  }

  &:focus::-webkit-input-placeholder {color: transparent}
  &:focus::-moz-placeholder          {color: transparent}
  &:focus:-moz-placeholder           {color: transparent}
  &:focus:-ms-input-placeholder      {color: transparent}

  &--contacts {
    @include media ("screen", ">=tablet-larger-small") {
      border-width: 2px 60px 2px 2px;
      position: relative;

      &:hover {
        border-width: 2px 60px 2px 2px;
      }

      &:focus {
        border-width: 2px;
      }

    }

  }
  
}