@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $background-main-color;
  background-size: auto, auto;
  background-repeat: no-repeat;  

  @include media("screen", "<tablet-larger-small") {
    background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
    height: 730px;
    background-position: center 160px, center top;
  
    @include media("retina2x") {
      background-image: url("../img/iphone-hand-mobile@2x.png"),
      url("../img/bg-back-mobile@2x.jpg");
    }
  
  }

  @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
    background-image: url("../img/iphone-hand-tablet@1x.png"),
    url("../img/bg-back-tablet@1x.jpg");
    height: 730px;
    background-position: center bottom, center top;

    @include media("retina2x") {
      background-image: url("../img/iphone-hand-tablet@2x.png"),
      url("../img/bg-back-tablet@2x.jpg");
    }

  }

  @include media("screen", ">=tablet-wide") {
    background-image: url("../img/iphone-hand-desktop@1x.png"),
    url("../img/bg-back-desktop@1x.jpg");
    height: 850px;
    background-position: calc(50% + 100px) bottom, center top;

    @include media("retina2x") {
      background-image: url("../img/iphone-hand-desktop@2x.png"),
      url("../img/bg-back-desktop@2x.jpg");
    }
    
  }

  &--short {
    @include media("screen", "<phone") {
      height: 280px;
    }

    @include media("screen", ">=phone", "<phablet") {
      height: 280px;
    }

    @include media("screen", ">=phablet", "<tablet-larger-small") {
      height: 320px;
    }

    @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
      height: 440px;
    }

    @include media("screen", ">=tablet-larger", "<tablet-wide") {
      height: 440px;
      background-position: 0 0;
    }

    @include media("screen", ">=tablet-wide") {
      height: 440px;
      background-position: 0 0;
    }

  }
  
}