@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.hours {
  display: flex;
  align-self: center;
  width: 100%;
  
  @include media ("screen", "<tablet-larger-small") {
    display: none;
  }

  @include media ("screen", ">=tablet-larger-small", "<tablet-wide") {
    margin-top: 55px;
  }

  @include media ("screen", ">=tablet-wide") {
    margin-top: 75px;
    width: 1000px;
  }
  
}

.hours__timer {
  
  flex-shrink: 0;
  position: relative;

  @include media ("screen", ">=tablet-larger-small", "<tablet-wide") {
    background: url("../img/timer-tablet.png") no-repeat;
    width: 268px;
    height: 277px;
    margin-left: 30px;
  }

  @include media ("screen", ">=tablet-wide") {
    background: url("../img/timer-desctop.png") no-repeat;
    width: 298px;
    height: 345px;
  }
  
}

.hours__round {
  position: absolute;

  border: 14px solid $border-hours-color;
  border-radius: 50%;

  @include font-OpenSansBold ($size: 96px, $colour: $border-hours-color);

  @include media ("screen", ">=tablet-larger-small", "<tablet-wide") {
    top: 58px;
    left: 20px;
    padding: 32px;
  }

  @include media ("screen", ">=tablet-wide") {
    top: 72px;
    left: 26px;
    padding: 41px;
    font-size: 120px;
  }

}
