@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.icons-platform {
  display: flex;
  justify-content: space-around;
  height: 70px;
  width: 230px;
}

.icons-platform__icon {
  width: inherit;
  height: inherit;
}

.icons-platform__item {
  width: 55px;
  height: 55px;
}

