@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";


.icon-wrap {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  height: 70px;

  &--within {
    width: 205px;
  }

  &--without {
    width: 60vw;
  }

  .android-logo {
    font-size: 1.3px;
  }

  .apple-logo {
    font-size: 3.2px;
  }

  .microsoft-logo {
    font-size: 8.1px;
    padding-top: 8px;
    width: 70px;
  }

}
