@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";


.menu {
  width: 100%;
  background-color: $background-menu-color-opacity;

  @include media("screen", "<tablet-wide") {
    background-color: $background-menu-color;
  }

  &--closed {
    @include media("screen", "<tablet-wide") {
      background-color: $background-menu-color-opacity;
    }

  }

}

.menu__wrap {
  display: flex;
  align-items: center;

  padding: 0 15px;
  margin: 0 auto;
  width: 100%;

  @include media("screen", "<tablet-larger-small") {
    height: 70px;
    justify-content: space-between;
    padding: 0 0 0 15px;
  }

  @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
    height: 110px;
    justify-content: space-between;
  }

  @include media("screen", ">=tablet-wide") {
    justify-content: space-between;
    max-width: 950px;

  }

  @include media("screen", "<tablet-wide") {
    .menu--nojs & {
      background: $background-menu-color;
    }
    
  }

}

.menu__nav {
  @include media("screen", "<tablet-larger-small") {
    top: 70px;

    .menu--nojs & {
      top: 70px;
    }

  }

  @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
    top: 110px;

    .menu--nojs & {
      top: 110px; 
    }

  }

}