@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.nav {
  display: flex;
  flex-wrap: wrap;
  z-index: 10;

  @include media("screen", "<desktop") {
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1px solid $color-black;
  }

  @include media("screen", ">=desktop") {
    justify-content: flex-end;
    width: 80%;   
  }

  .menu--closed & {
    @include media("screen", "<desktop") {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.4s, opacity 0.4s linear;
    }

  }

  .menu--opened & {
    @include media("screen", "<desktop") {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.4s linear;
    }

  }

  .menu--nojs & {
    @include media("screen", "<desktop") {
      opacity: 1;
      visibility: visible;
    }

  }

}

.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  @include font-OpenSansRegular;
    
  @include media("screen", ">=desktop") {
    width: 80%;
    height: 112px;
    justify-content: space-around;      
  }

  @include media("screen", "<desktop") {
    flex-direction: column;
    @include font-OpenSansBold;
  }

}

.nav__item {
  @include media("screen", "<desktop") {
    width: 100%;
    z-index: 20;     
  }

  & a {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: $text-color-white;
    text-align: center;

    @include media("screen", ">=desktop") {
      padding-bottom: 10px;
    }

    @include media("screen", ">=desktop") {
      &[href]:hover {    
        border-bottom: 2px solid $color-secondary;
        color: $text-color-secondary;
      }

    }

    &[href]:active {
      color: rgba($color-secondary, 0.3);

      @include media("screen", ">=desktop") {
        color: rgba($text-color-white, 0.3);
        border: none;
      }

    }

    .nav & {
      @include media("screen", "<desktop") {
        display: block;
        text-transform: uppercase;
        background-color: $color-main;

        padding: 20px 21px;
        text-align: center;

        border-top: 1px solid $color-main--light;
        border-bottom: 1px solid $color-black;
        z-index: 3;
      }

    }
    
  }

  &--active {

    & a {
      @include media("screen", ">=desktop") {
        &:hover {
          border-bottom: 2px solid $color-white;
          color: $text-color-white;
        }

        &:active {    
          color: rgba($text-color-white, 0.3);
          border: none;
        }

      }

    } 

  }

}