@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.phone {
  position: relative;
  display: flex;

  @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
    &:last-child {
      width: 268px;
    }
  }

  @include media("screen", "<tablet-wide") {

    display: none;

    &:last-child {
      display: flex;
      justify-content: center;
    }

  }
}

.phone__iphone {
  @include media("screen", "<tablet-larger-small") {
    background: url(../img/phone-mobile.png) no-repeat top center; 
    width: 160px;
    height: 280px;
  }

  @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
    background: url(../img/phone-tablet.png) no-repeat top center; 
    width: 268px;
    height: 481px;
  }

  @include media("screen", ">=tablet-wide") {
    background: url(../img/phone-desctop.png) no-repeat top center;
    width: 300px;
    height: 302px;
  }

}

.phone__screen {
  position: absolute;

  @include media ("screen", "<tablet-wide") {
    top: 45px;
    left: 12px;

    width: 163px;
    height: 255px;    
  }

  @include media ("screen", ">=tablet-wide") {
      top: 42px;
      left: 63px;

      width: 168px;
      height: 260px;
  }

  &--gray {
    @include media("screen", ">=tablet-wide") {
      background: url(../img/phone-screen-desctop.png) no-repeat top center;
      background-size: cover; 
    }

  }

  &--pink {
    @include media("screen", ">=tablet-wide") {
      background: url(../img/phone-screen-desctop-pink.png) no-repeat top center;
      background-size: cover;      
    }

  }

  &--smile {
    @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
      background: url(../img/phone-screen-tablet-smile.png) no-repeat top center;
      display: block;
      
      top: 64px;
      left: 15px;

      width: 241px;
      height: 417px;
    }

    @include media("screen", ">=tablet-wide") {
      background: url(../img/phone-screen-desctop-smile.png) no-repeat top center;
      background-size: cover;

    }

  }

}
