@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: $color-white--dark;

  padding-bottom: 100px;

  &::before {
    content: "";
    display: block;
    border-right: 100vw solid transparent;
    border-top: 32px solid $color-white;

    @include media ("screen", ">=tablet-larger-small") {
      border-top: 75px solid $color-white;
    }
  }

  @include media ("screen", "<tablet-larger-small") {
    display: none;
  }

}

.price__wrap {
  width: 100%;
  align-self: center;

  @include media ("screen", ">tablet-larger-small", "<tablet-wide") {
    padding: 0 40px;
  }
  
  @include media ("screen", ">=tablet-wide") {
    width: 950px;
    padding-top: 65px;
  }

}

.price__table {
  margin: 0;
  width: 100%;
  border-collapse: collapse;

  @include media ("screen", "<tablet-larger-small") {
    display: block;
  }

}

.price__row {

}

.price__th {
  overflow: hidden;
  height: 100px;
  color: $text-color-white;
  background-color: $color-main;
  border: 2px solid $color-white--darker;
}

.price__th-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 100%;
  position: relative;

  &--best {
    &::before {
      content: "ХИТ";
      position: absolute;
      transform: rotate(-45deg);

      top: 8px;
      left: -49px;

      width: 142px;
      height: 30px;

      background: $color-secondary;
      @include font-OpenSansRegular($size: 14px, $lh: 30px)
    }

  }

}

.price__td {
  width: 25%;
  height: 60px;
  
  background-color: #FFF;
  @include font-OpenSansRegular ($size: 14px, $lh: 30px, $colour: $text-color-main)
  border: 2px solid $color-white--darker;

  &:first-child {
    padding-left: 25px;
  }

  @include media ("screen", ">=tablet-wide") {
    font-size: 18px;
  }

}

.price__none {
  @include media ("screen", "<tablet-larger-small") {
    display: none;
  }

}

.price__title {
  @include font-OpenSansBold($size: 18px)
  text-transform: uppercase;

  @include media ("screen", ">=tablet-larger-small", "<tablet-wide") {
    font-size: 16px;
  }

}

.price__value {
  padding-top: 10px;
  @include font-OpenSansLight($size: 24px, $weight: normal);

  @include media ("screen", ">=tablet-larger-small", "<tablet-wide") {
    font-size: 18px;
  }
  
}

.price__availability {
  position: relative;
  width: 31px;
  height: 21px;
  margin: auto;

  &--yes {
    &::before {
      content: "";
      transform: rotate(45deg);
      position: absolute;

      width: 3px;
      height: 28px;

      left: 21px;
      top: -4px;

      background-color: $color-success;
    }

    &::after {
      content: "";
      transform: rotate(45deg);
      position: absolute;

      width: 14px;
      height: 3px;

      left: 2px;
      top: 13px;

      background-color: $color-success;
    }  

  }

  &--no {
    &::before,
    &::after {
      content: '';
      position: absolute;

      width: 38px;
      height: 3px;

      left: -2px;
      top: 10px;
  
      background-color: $color-error;
    }

        
    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

  }

}