@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";


.slogan {
  color: $text-color;
  @include font-OpenSansLight ($size: 40px, $weight: normal);
  text-align: center;

  &--download {
    @include media ("screen", "<tablet-larger-small") {
      display: none;
    }

    @include media ("screen", ">=tablet-wide") {
      font-size: 50px;
    }

  }

  &--topic {
    margin: auto;
    width: 80vw;

    @include media ("screen", "<tablet-larger-small") {
      font-size: 24px;
    }

    @include media ("screen", ">=tablet-wide") {
      font-size: 50px;
      max-width: 830px;
    }

  }

  &--descr {
    color: $text-descr-slogan-color;

    @include media ("screen", "<tablet-larger-small") {
      font-size: 24px;

      &:last-child {
        margin-top: 25px;
      }

    }

    @include media ("screen", ">=tablet-wide") {
      font-size: 50px;
    }

  }

  &--form {
    @include font-OpenSansRegular($size: 14px, $colour: $text-descr-slogan-color, $lh: 30px);

    @include media ("screen", "<tablet-larger-small") {
      font-size: 14px;
    }

    @include media ("screen", ">=tablet-larger-small") {
      font-size: 18px;
    }

  }

}
