@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.slogan {
  color: $text-color;
  @include font-OpenSansLight($size: 40px, $weight: normal);
  margin: auto;
  text-align: center;
  width: 70%;
  max-width: 800px;

  @include media("screen", "<tablet-larger-small") {
    .download--within & {
      display: none;  
    }

  }

  &--download {
    margin: 0;
  }

  &--topic {
    font-size: 50px;

    @include media("screen", "<tablet-larger-small") {
      font-size: 24px;
    }
  }

  &--descr {
    color: $text-descr-slogan-color;
    width: 100%;

    @include media ("screen", "<tablet-larger-small") {
      font-size: 24px;

      &:last-child {
        margin-top: 25px;
      }

    }

    @include media ("screen", ">=tablet-wide") {
      font-size: 50px;
    }

  }

}
