@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.social {

}

.social__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 170px;
	height: 50px;
}

.social__item {
	position: relative;
	width: 44px;
	height: 44px;
	border: 3px solid $color-white--dark;
	border-radius: 50%;
	transition: border-color .4s linear;
	
	@include media ("screen", ">=desktop") {
		&:hover {
			border-color: $color-black;
		}	
		
	}

	&:active {
		border-color: $color-black;
		opacity: 0.3;
	}

}

.social__link {
	display: block;
	width: 100%;
	height: 100%;
}

.social__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 20px;
	fill: $color-secondary;
	transform: translate(-50%,-50%);
}