@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.text-descr {
  @include font-OpenSansRegular($size: 14px, $lh: 24px)
  text-align: center;
  color: rgba($text-color-white, 0.7);

  @include media ("screen", ">=tablet") {
  	font-size: 18px;
  }
  
}
