@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.text-advantage {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;

  &--topic {
    margin: auto;
  }

  &--research {
    
    @include media("screen", ">=tablet-larger-small") {
      text-align: left;
    }

  }

  &--slideshow {
    line-height: 30px;

    @include media ("screen", "<tablet-larger-small") {
      width: 90%;
      margin: auto;
    }

  }

}

.text-advantage__title {
  @include font-OpenSansBold($size: 20px, $colour: $text-color-black);
  padding-bottom: 20px;

  .text-advantage--research & {
    @include media("screen", ">=tablet-larger-small") {
      font-size: 30px;
    }
    
  }

  .text-advantage--slideshow & {
    padding-bottom: 10px;
  }
}

.text-advantage__text {
  @include font-OpenSansRegular($size: 14px, $colour: $text-color-main);

  @include media ("screen", ">=tablet-wide") {
    font-size: 18px;
    width: 250px;
  }

  .text-advantage--research & {
    @include media ("screen", ">=tablet-wide") {
      width: 100%;
    }
  }

  .text-advantage--slideshow & {
    @include media ("screen", ">=tablet-larger-small") {
      order: -1;
      margin-bottom: 45px;
      font-size: 18px;
      width: 620px;
      align-self: center;

    }

  }

}

.text-advantage__link {
  margin-top: 25px;
  color: $text-color-secondary;
  text-decoration: underline;

  @include media ("screen", ">=tablet-wide") {
    &:hover {
      color: $text-color-black; 
    }

    &:active {
      color: rgba($text-color-black, 0.3);
    }

  }

  &:active {
    color: rgba($text-color-black, 0.3);
  }
}

.text-advantage__title-descr {
  
  .text-advantage--slideshow & {
    @include media ("screen", "<tablet-larger-small") {
      display: none;
    }

  }

}