@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.text-advantage {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;

  &--phone {
    @include media ("screen", "<tablet-larger-small") {
      padding-bottom: 40px;
    }

    @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
      width: 80%;
      text-align: left;
      align-items: flex-start;
      padding-bottom: 45px;
    }

    @include media("screen", ">=tablet-wide") {
      //margin-top: 60px;
      width: 375px;
      align-items: center;
    }

  }

  &--topic {
    margin: auto;//доработать для других страниц
  }

  &--hours {
    
    @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
      width: 50%;
      text-align: left;
      margin-top: 50px;
      margin-left: 40px;  
    }

    @include media ("screen", ">=tablet-wide") {
      width: 50%;
      align-items: flex-start;
      text-align: left;
      margin-top: 80px; 
      margin-left: 70px;
    }

  }

  &--slideshow {
    line-height: 30px;

    @include media ("screen", "<tablet-larger-small") {
      width: 90%;
      margin: auto;
    }


  }

}

.text-advantage__title {
  @include font-OpenSansBold($size: 20px, $colour: $text-advantage-title-color);
  padding-bottom: 20px;
  
  .text-advantage--phone & {
    @include media ("screen", ">=tablet-wide") {
      font-size: 30px;
      width: 300px;
    }

  }

  .text-advantage--hours & {
    @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
      font-size: 30px;
      width: 200px;  
    }
    
  }

  .text-advantage--slideshow & {
    padding-bottom: 10px;
  }
}

.text-advantage__text {
  @include font-OpenSansRegular($size: 14px, $colour: $text-advantage-color);

  @include media ("screen", ">=tablet-wide") {
    font-size: 18px;
    width: 250px;
  }

  .text-advantage--hours & {
    @include media ("screen", ">=tablet-wide") {
      width: 100%;
    }
  }

  .text-advantage--slideshow & {
    @include media ("screen", ">=tablet-larger-small") {
      order: -1;
      margin-bottom: 45px;
      font-size: 18px;
      width: 620px;
      align-self: center;
    }
  }
}

.text-advantage__link {
  margin-top: 25px;
  color: $text-link-color;
}

.text-advantage__title-descr {
  .text-advantage--slideshow & {
    @include media ("screen", "<tablet-larger-small") {
      display: none;
    }

  }

}