@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.toggle-menu {
  display: none;

  @include media("screen", "<tablet-wide") {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &:active,
    &:focus {
      outline: none;
    }
    
    .menu--opened & {
      z-index: 10;
      box-sizing: border-box;

      @include media ("screen", ">=tablet-wide") {
        &:hover::before,
        &:hover::after {
          background-color: $btn-menu-hover-color;
        }
      }

      &::before, 
      &::after {
        content: '';
        position: absolute;

        background-color: #FFF;
      }
      
      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
      }

      &:active::before,
      &:active::after {
        background-color: $btn-menu-down-color;
      }

    }

    .menu--closed & {
      &::before {
        content: '';
        position: absolute;
        background-color: #fff;
        box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;

        @include media ("screen", ">=tablet-wide") {
          &:hover::before,
          &:hover::after {
            background-color: $btn-menu-hover-color;
            box-shadow: 0 10px 0 0 $btn-menu-hover-color, 0 20px 0 0  $btn-menu-hover-color; 
          }
        }

        &:active::before{
          background-color: $btn-menu-down-color;
          box-shadow: 0 10px 0 0 $btn-menu-down-color, 0 20px 0 0  $btn-menu-down-color;   
        }   
      }

      @include media ("screen", ">=tablet-wide") {
        &:hover::before,
        &:hover::after {
          background-color: $btn-menu-hover-color;
          box-shadow: 0 10px 0 0 $btn-menu-hover-color, 0 20px 0 0  $btn-menu-hover-color; 
        }
        
      }

      &:active::before{
        background-color: $btn-menu-down-color;
        box-shadow: 0 10px 0 0 $btn-menu-down-color, 0 20px 0 0  $btn-menu-down-color;   
      }

    }

    .menu--nojs & {
      display: none;
    }

  }

  @include media("screen", ">=tablet-larger-small", "<tablet-wide") {
    border: none;
    height: 109px;
    width: 110px;

    &::before, 
    &::after {
      top: 52px;
      height: 4px;
      left: initial;
      right: 40px;
    }

    .menu--closed & {
      &::before {
        top: 44px;
        left: initial;
        right: 25px;
        width: 53px;
      }

    }

    .menu--opened & {
      &::before,
      &::after {
        top: 51px;
        left: initial;
        right: 20px;
        width: 50px;
        height: 4px;      
      }

    }

  }

  @include media("screen", "<tablet-larger-small") {
    width: 80px;
    height: 70px;

    .menu--closed & {
      &::before {
        top: 21px;
        left: 6px;
        width: 50px;
        height: 3.5px;
      }

    }

    .menu--opened & {
      
      &::before,
      &::after {
        top: 31px;
        left: 23px;
        width: 33px;
        height: 4px;    
      }

    }
  }

}