@import "bourbon";
@import "../mixins.scss";
@import "../vars.scss";

.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
 
  width: 80px;
  height: 70px;
  font-size: 0;
 
  border: none;
  cursor: pointer;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  @include media ("screen", ">=tablet-larger-small", "<tablet-wide") {
    width: 100px;
    height: 110px;
  }

  @include media ("screen", ">=tablet-wide") {
    display: none;
  }

}

.hamburger__span {
  display: block;
  position: absolute;

  top: 32px;
  left: 18px;
  right: 18px;

  height: 4px;
  background: white;

  @include media ("screen", ">=tablet-larger-small", "<tablet-wide") {
    top: 55px;
    height: 6px;
  }

  .hamburger.is-active & {
    background: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    
    left: 0;
    width: 100%;
    height: 4px;
    
    background-color: #fff;

    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
    
    @include media ("screen", ">=tablet-larger-small", "<tablet-wide") {
      height: 6px;
    }

    .hamburger.is-active & {
      transition-delay: 0s, 0.3s;
    }

  }

  &::before {
    top: -10px;
    transition-property: top, transform;
    
    @include media ("screen", ">=tablet-larger-small", "<tablet-wide") {
      top: -15px;
    }

    .hamburger.is-active & {
      top: 0;
      transform: rotate(45deg);
    }
  
  }

  &::after {
    bottom: -10px;
    transition-property: bottom, transform;

    @include media ("screen", ">=tablet-larger-small", "<tablet-wide") {
      bottom: -15px;
    }

    .hamburger.is-active & {
      bottom: 0;
      transform: rotate(-45deg);
    }

  }

}

.hamburger:active span {
  background: $btn-menu-down-color;
}

.hamburger:active span::before,
.hamburger:active span::after {
  background-color: $btn-menu-down-color;
}

.hamburger:active.is-active span::before,
.hamburger:active.is-active span::after {
  background-color: $btn-menu-down-isActive-color;
}


