$menu-color: #283645;
$main-color: #1d2631;
$pink-color: #d22856;
$white-color: #ffffff;
$white-down-color: rgba(255, 255, 255, 0.3);
$pink-down-color: rgba(210, 40, 86, 0.3);
$main-color-opacity: rgba(0, 0, 0, 0.3);
$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);

@mixin font-OpenSansBold($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

@mixin font-OpenSansLight($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: 'OpenSansLight', Helvetica, Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

@mixin font-OpenSansRegular($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

@mixin font-OpenSansSemiBold($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: 'OpenSansSemiBold', Helvetica, Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}
$breakpoints: (
  "phone":        			 400px,
  "phone-wide":   			 480px,
  "phablet":      			 560px,
  "tablet-small": 			 640px,
  "tablet-larger-small": 700px,//изменить название переменной
  "tablet":       			 768px,
  "tablet-larger": 			 918px,
  "tablet-wide":  			 1024px,
  "desktop":      			 1248px,
  "desktop-wide": 			 1440px
);